#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#footer {
  font-style: italic;
  font-size: 0.9em;
}

.green {
  background-color: green;
}
.green:hover {
  color: white;
}

.navBar {
  background-color: #FFA500;
  display: flex;
  align-items: center;
  width: 1000px;
  justify-content: space-around;
  border-radius: 10px 10px 0 0;
}

.mainCard {
  width: 998px;
  border: 1px solid #FFA500;
  border-radius: 0 0 10px 10px;
}

